@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Darker Grotesque", "sans-serif";
}

body {
  width: 100wh;
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
li,
p {
  letter-spacing: 1.5px;
}

.container-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-image {
  height: auto;
  width: fit-content;
}

.main-title {
  margin: 10px 0;
  color: #1a1b1e;
  /* Website/Tomato Grotesk/Headline 12/Bold */
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  /* 128.571% */
}

.figure img {
  width: 668px;
  height: 420px;
  object-fit: cover;
  display: block;
  /* line-height: 0; */
}

.figure figcaption {
  color: #2f3033;
  /* Website/Work Sans/Body 2/Regular */
  font-family: Work Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 142.857% */
  background: #f2f2f2;
  width: fit-content;
}

/* second part */
.container-pros-cons {
  display: flex;
  flex-wrap: wrap;
  width: 668px;
  height: 626px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid #fd68ae;
  background: #fff;
  padding: 32px 38px;
}

.container-pros-cons ul {
  list-style: none;
}

.pros-title,
.cons-title {
  color: #1a1b1e;
  /* Website/Tomato Grotesk/Subtitle 1/medium */
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  /* 125% */
  margin-bottom: 20px;
}

.container-pros-cons .container-pros li::before,
.container-pros-cons .container-cons li::before {
  content: url("./assets/bulletPoint.svg");
  display: inline-block;
  height: 10px;
  width: 10px;
  margin-right: 15px;
}

.container-pros-cons .container-cons li::before {
  content: url("./assets/bulletCons.svg");
}

/* .pros li,
.cons li {
  color: #46474a;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 15px;
} */

.container-both {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
}

.container-pros,
.container-cons {
  /* width: 250px;
  height: auto;
  margin: 30px 40px; */
  width: inherit;
  height: auto;
  margin-top: 15px;

  flex-basis: 45%;
}

.final-title {
  color: #1a1b1e;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  margin-top: 20px;
}

.verdict-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
  min-width: 0;
  min-height: 0;
}

.verdict-item {
  margin-left: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 50px;
  position: relative;
}

.verdict-item-desc {
  margin-top: 10px;
}

.verdict-item:nth-of-type(3n)::before,
.verdict-item:nth-of-type(3n-1)::before {
  content: "";
  height: 50px;
  width: 1px;
  background-color: #585454;
  position: absolute;
  left: -40px;
  top: 40px;
  transform: translateY(-50%);
}

.verdict-item p:first-child {
  color: #46474a;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 34px;
  background-color: #fff;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.verdict-first-item {
  transform: translateY(10%);
}

.verdict-item p:last-child {
  color: #46474a;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.verdict-round-score {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gradient {
  background: linear-gradient(270deg,
      #ff3200 4.18%,
      #ff3200 5.3%,
      #ffb400 46.79%,
      #da33d0 81.55%,
      #006fd9 116.31%);
  border-radius: 100%;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .round-80 {
  background: conic-gradient(
    transparent 0%,
    transparent 80%,
    gray 80%,
    gray 100%
  );
} */

.round-80 {
  animation: color-80 2s ease-in forwards;
  animation-iteration-count: 1;
  animation-delay: 3s;
}

.round-90 {
  animation: color-90 2s ease-in forwards;
  animation-iteration-count: 1;
  animation-delay: 3s;
}

.round-100 {
  animation: color-100 2s ease-in forwards;
  animation-iteration-count: 1;
  animation-delay: 3s;
}

/* .round-100 {
  background: conic-gradient(
    transparent 0%,
    transparent 100%,
    gray 100%,
    gray 100%
  );
} */

@keyframes color-100 {
  from {
    background: conic-gradient(transparent 0%,
        transparent 0%,
        gray 0%,
        gray 100%);
    opacity: 0.8;
  }

  25% {
    background: conic-gradient(transparent 0%,
        transparent 25%,
        gray 25%,
        gray 100%);
  }

  50% {
    background: conic-gradient(transparent 0%,
        transparent 50%,
        gray 50%,
        gray 100%);
    opacity: 0.9;
  }

  75% {
    background: conic-gradient(transparent 0%,
        transparent 75%,
        gray 75%,
        gray 100%);
  }

  to {
    background: conic-gradient(transparent 0%,
        transparent 100%,
        gray 100%,
        gray 100%);
    opacity: 1;
  }
}


@keyframes color-80 {
  from {
    background: conic-gradient(transparent 0%,
        transparent 0%,
        gray 0%,
        gray 100%);
    opacity: 0.8;
  }

  25% {
    background: conic-gradient(transparent 0%,
        transparent 25%,
        gray 25%,
        gray 100%);
  }

  50% {
    background: conic-gradient(transparent 0%,
        transparent 50%,
        gray 50%,
        gray 100%);
    opacity: 0.9;
  }

  75% {
    background: conic-gradient(transparent 0%,
        transparent 75%,
        gray 75%,
        gray 100%);
  }

  to {
    background: conic-gradient(transparent 0%,
        transparent 80%,
        gray 80%,
        gray 100%);
    opacity: 1;
  }
}


@keyframes color-90 {
  from {
    background: conic-gradient(transparent 0%,
        transparent 0%,
        gray 0%,
        gray 100%);
    opacity: 0.8;
  }

  25% {
    background: conic-gradient(transparent 0%,
        transparent 25%,
        gray 25%,
        gray 100%);
  }

  50% {
    background: conic-gradient(transparent 0%,
        transparent 50%,
        gray 50%,
        gray 100%);
    opacity: 0.9;
  }

  75% {
    background: conic-gradient(transparent 0%,
        transparent 75%,
        gray 75%,
        gray 100%);
  }

  to {
    background: conic-gradient(transparent 0%,
        transparent 90%,
        gray 90%,
        gray 100%);
    opacity: 1;
  }
}

/* Animation for image */
@keyframes move-image {
  from {
    transform: translateX(-500px);
  }

  to {
    transform: translateX(0px);
  }
}

/* Animation for container */

@keyframes blick-container {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes font-weight-change {
  0% {
    font-weight: 200;
  }
  50% {
    font-weight: 400;
  }
  100% {
    font-weight: 700;
  }
}

@keyframes move-text {
  from {
    transform: translateX(500px);
  }
  to {
    transform: translateX(0);
  }
}

li {
  animation-name: move-text;
  animation-duration: 3s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

.cons-title, .pros-title {
  animation-name: font-weight-change, move-image;
  animation-duration: 10s, 2s;
  animation-delay: 1s;
  animation-iteration-count: infinite, 1;
  animation-timing-function: ease-in;
}

img {
  animation-name: move-image, blick-container;
  animation-duration: 2s, 5s;
}

.container-content {
  animation-name: blick-container;
  animation-duration: 3s;
}

@media only screen and (max-width: 600px) {
  .title {
    font-feature-settings: "case" on;
    /* Mobile/Tomato Grotesk/Subtitle 2/Semibold */
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    /* 125% */
  }

  .figure figcaption {
    /* Mobile/Work Sans/Body 2/Regular */
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    /* 133.333% */
  }

  .figure img {
    width: 330px;
    height: 212px;
  }

  .container-pros-cons {
    width: 335px;
    height: 779px;
  }

  .container-both {
    flex-direction: column;
  }

  .verdict-container {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    min-width: 0;
    min-height: 0;
  }

  .verdict-item:nth-of-type(3n)::before,
  .verdict-item:nth-of-type(3n-1)::before {
    display: none;
  }

  .verdict-item:nth-of-type(2n)::before {
    display: block;
    content: "";
    height: 50px;
    width: 1px;
    background-color: #585454;
    position: absolute;
    left: -35px;
    top: 40px;
    transform: translateY(-50%);
  }

  .verdict-item {
    margin: 10px 40px;
    text-align: center;
  }

  .verdict-first-item {
    transform: translateY(10%);
  }
}